.splide__pagination {
    bottom: 2.5rem;
    justify-content: flex-start;
    padding-left: 2.5rem;
}

.splide__pagination__page {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 10px;
    height: 10px;
    margin: 0 6px;
    transition: all 0.3s ease;
}

.splide__pagination__page.is-active {
    background: #fff;
    transform: scale(1.4);
}

.splide__arrow svg {
    fill: none; 
    height: auto;
    width: auto;
}

.splide__spinner {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-left-color: #fff; /* Warna putaran */
    width: 40px;
    height: 40px;
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}