# Local
.DS_Store
*.log*
.env*
!.env.example
!.env.*.example

# Dist
node_modules
dist/
generated/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# AI tools
.claude/

.rsbuild
coverage

# Reports
reports/

# Public
public/assets/i18n/