{% extends "@layouts/main.njk" %}
{% import "@shared/ui/primitives/icons.njk" as icon %}

{% block content %}
  {% set error_icon_name = 'shield' %}
  {% set error_icon_color = 'amber' %}
  {% set error_gradient_from = 'amber' %}
  {% set error_gradient_via = 'orange' %}
  {% set error_i18n_ns = 'forbidden' %}
  {% set error_quick_links = '/|home,/features|features,/contact|contact' %}
  {% include "@shared/ui/patterns/error-page.njk" %}
{% endblock %}
