{# Advanced Nunjucks macros for i18n that require special features like caller() #}
{# These are for rare/advanced use cases. Most common usage is in i18n object methods #}

{% macro wrap(key, vars = {}, tag = 'div', class = '', ext = {}) %}
  {# Wrap translated content with custom tag and attributes #}
  {# Usage: {% call wrap('key') %}Custom content{% endcall %} #}
  {% set item = i18n(key, vars) %}
  {% set varsJson = (item.vars | replace('"', '&quot;')) if item.vars else '' %}
  {% set extStr = '' %}
  {% for name, value in ext.items() %}
    {% set extStr = extStr + ' ' + name + '="' + value + '"' %}
  {% endfor %}
  <{{ tag }} class="{{ class }}" data-i18n="{{ item.k }}"{{ extStr}}{% if item.vars %} data-i18n-vars='{{ varsJson}}'{% endif %}>
    {{ caller(item)}}
  </{{ tag }}>
{% endmacro %}

{% macro wrap_html(key, vars = {}, tag = 'div', class = '', ext = {}) %}
  {# Wrap translated content with custom tag using native digits #}
  {# Usage: {% call wrap_html('key') %}Custom content{% endcall %} #}
  {% set item = i18n(key, vars) %}
  {% set translated = i18n.nativeNumbers(item.v) %}
  {% set varsJson = (item.vars | replace('"', '&quot;')) if item.vars else '' %}
  {% set extStr = '' %}
  {% for name, value in ext.items() %}
    {% set extStr = extStr + ' ' + name + '="' + value + '"' %}
  {% endfor %}
  <{{ tag }} class="{{ class }}" data-i18n="{{ item.k }}"{{ extStr}}{% if item.vars %} data-i18n-vars='{{ varsJson}}'{% endif %}>
    {{ caller(item)}}
  </{{ tag }}>
{% endmacro %}

{% macro html_content(key, vars = {}) %}
  {# Render HTML content block with data attributes for client-side i18n #}
  {% set item = i18n(key, vars) %}
  {% set translated = i18n.nativeNumbers(item.v) %}
  {% set varsJson = (item.vars | replace('"', '&quot;')) if item.vars else '' %}
  <div data-i18n-html="{{ item.k }}" {% if item.vars %} data-i18n-vars='{{ varsJson}}' {% endif %} class="contents">
    {{ translated}}
  </div>
{% endmacro %}
