{% macro wrap(key, vars = {}, tag = 'div', class = '', ext = {}) %}
  {# Usage: {% call wrap('key') %}Custom content{% endcall %} #}
  {% set item = i18n(key, vars) %}
  {% set varsJson = item.vars or '' %}
  {% set extStr = '' %}
  {% for name, value in ext.items() %}
    {% set extStr = extStr + ' ' + name + '="' + value + '"' %}
  {% endfor %}
  <{{ tag }} class="{{ class }}" data-i18n="{{ item.k }}"{{ extStr}}{% if item.vars %} data-i18n-vars='{{ varsJson}}'{% endif %}>
    {{ caller(item)}}
  </{{ tag }}>
{% endmacro %}

{% macro wrap_html(key, vars = {}, tag = 'div', class = '', ext = {}) %}
  {# Usage: {% call wrap_html('key') %}Custom content{% endcall %} #}
  {% set item = i18n(key, vars) %}
  {% set translated = i18n.nativeNumbers(item.v) %}
  {% set varsJson = item.vars or '' %}
  {% set extStr = '' %}
  {% for name, value in ext.items() %}
    {% set extStr = extStr + ' ' + name + '="' + value + '"' %}
  {% endfor %}
  <{{ tag }} class="{{ class }}" data-i18n="{{ item.k }}"{{ extStr}}{% if item.vars %} data-i18n-vars='{{ varsJson}}'{% endif %}>
    {{ caller(item)}}
  </{{ tag }}>
{% endmacro %}

{% macro html_content(key, vars = {}) %}
  {% set item = i18n(key, vars) %}
  {% set translated = i18n.nativeNumbers(item.v) %}
  {% set varsJson = item.vars or '' %}
  <div data-i18n-html="{{ item.k }}" {% if item.vars %} data-i18n-vars='{{ varsJson}}' {% endif %} class="contents">
    {{ translated}}
  </div>
{% endmacro %}
