{% macro _renderTag(tag, class, content, dataAttrs = {}, condAttrs = {}) %}
  {% set attrsStr = '' %}
  {% for key, val in dataAttrs %}
    {% set attrsStr = attrsStr + ' ' + key + '="' + val + '"' %}
  {% endfor %}
  {% for key, val in condAttrs %}
    {% if val %}{% set attrsStr = attrsStr + ' ' + key + '="' + val + '"' %}{% endif %}
  {% endfor %}
  {% if tag %}
    <{{ tag }}{% if class %} class="{{ class }}"{% endif %}{{ attrsStr | safe }}>{{ content }}</{{ tag }}>
  {% else %}
    <span{{ attrsStr | safe }}>{{ content }}</span>
  {% endif %}
{% endmacro %}

{% macro t(key, vars = {}, class = '') %}
  {% set item = i18n(key, vars) %}
  {% set translatedValue = nunjucksFilters.nativeNumbers(item.v, lang) %}
  {% set varsJson = (item.vars | replace('"', '&quot;')) if item.vars else '' %}
  {{ _renderTag('span', class, translatedValue | safe, {
    'data-i18n': item.k
  }, {
    'data-i18n-vars': varsJson
  }) }}
{% endmacro %}

{% macro tNative(key, vars = {}, class = '') %}
  {% set item = i18n(key, vars) %}
  {% set translatedValue = nunjucksFilters.nativeNumbers(item.v, lang, true) %}
  {% set varsJson = (item.vars | replace('"', '&quot;')) if item.vars else '' %}
  {{ _renderTag('span', class, translatedValue | safe, {
    'data-i18n': item.k,
    'data-force-native': 'true'
  }, {
    'data-i18n-vars': varsJson
  }) }}
{% endmacro %}

{% macro tUniversal(key, vars = {}, class = '') %}
  {% set item = i18n(key, vars) %}
  {% set varsJson = (item.vars | replace('"', '&quot;')) if item.vars else '' %}
  {{ _renderTag('span', class, item.v | safe, {
    'data-i18n': item.k,
    'data-force-universal': 'true'
  }, {
    'data-i18n-vars': varsJson
  }) }}
{% endmacro %}

{% macro v(key, vars = {}) -%}
  {%- set item = i18n(key, vars) -%}
  {{- item.v | safe -}}
{%- endmacro %}

{% macro html(key, vars = {}) %}
  {% set item = i18n(key, vars) %}
  {% set translatedValue = nunjucksFilters.nativeNumbers(item.v, lang) %}
  {% set varsJson = (item.vars | replace('"', '&quot;')) if item.vars else '' %}
  <div data-i18n-html="{{ item.k }}" {% if item.vars %} data-i18n-vars='{{ varsJson | safe }}' {% endif %} class="contents">
    {{ translatedValue | safe }}
  </div>
{% endmacro %}


{% macro wrap(key, vars = {}, tag = 'div', class = '', ext = {}) %}
  {% set item = i18n(key, vars) %}
  {% set varsJson = (item.vars | replace('"', '&quot;')) if item.vars else '' %}
  {% set extStr = '' %}
  {% for name, value in ext %}
    {% set extStr = extStr + ' ' + name + '="' + value + '"' %}
  {% endfor %}
  <{{ tag }} class="{{ class }}" data-i18n="{{ item.k }}"{{ extStr | safe }}{% if item.vars %} data-i18n-vars='{{ varsJson | safe }}'{% endif %}>
    {{ caller(item) | safe }}
  </{{ tag }}>
{% endmacro %}

{% macro attr(key, attrName, vars = {}) %}
  {% set item = i18n(key, vars) %}
  {{ attrName }}="{{ item.v }}" data-i18n-attr="{{ attrName}}:{{ item.k }}"
  {% if item.vars %} data-i18n-vars='{{ (item.vars | replace('"', '&quot;')) | safe }}'{% endif %}
{% endmacro %}

{% macro plural(key, count, vars = {}, class = '') %}
  {% set item = i18nPlural(key, count, vars) %}
  {% set translatedValue = nunjucksFilters.nativeNumbers(item.v, lang) %}
  {% set varsJson = (item.vars | replace('"', '&quot;')) if item.vars else '' %}
  {{ _renderTag('span', class, translatedValue | safe, {
    'data-i18n-plural': item.k,
    'data-i18n-count': count
  }, {
    'data-i18n-vars': varsJson
  }) }}
{% endmacro %}

{% macro formatNumber(value, options = {}, tag = '', class = '', useNative = false) %}
  {% set formatted = nunjucksFilters.formatNumber(value, lang, options, useNative) %}
  {{ _renderTag(tag, class, formatted, {
    'data-format-number': value,
    'data-use-native': useNative,
    'data-numbering-options': options | default('')
  }) }}
{% endmacro %}

{% macro formatCurrency(value, currency = '', options = {}, tag = '', class = '', useNative = false) %}
  {% set formatted = nunjucksFilters.formatCurrency(value, lang, currency, options, useNative) %}
  {{ _renderTag(tag, class, formatted, {
    'data-format-currency': value,
    'data-use-native': useNative
  }, {
    'data-target-currency': currency
  }) }}
{% endmacro %}

{% macro convertCurrency(value, targetCurrency = '', options = {}, tag = '', class = '', useNative = false) %}
  {% set formatted = nunjucksFilters.convertCurrency(value, lang, targetCurrency, options, useNative) %}
  {{ _renderTag(tag, class, formatted, {
    'data-convert-currency': value,
    'data-use-native': useNative
  }, {
    'data-target-currency': targetCurrency
  }) }}
{% endmacro %}

{% macro formatPercent(value, options = {}, tag = '', class = '', useNative = false) %}
  {% set formatted = nunjucksFilters.formatPercent(value, lang, options, useNative) %}
  {{ _renderTag(tag, class, formatted, {
    'data-format-percent': value,
    'data-use-native': useNative
  }) }}
{% endmacro %}

{% macro formatUnit(value, unit, options = {}, tag = '', class = '', useNative = false) %}
  {% set formatted = nunjucksFilters.formatUnit(value, lang, unit, options, useNative) %}
  {{ _renderTag(tag, class, formatted, {
    'data-format-unit': value,
    'data-unit': unit,
    'data-use-native': useNative
  }) }}
{% endmacro %}

{% macro formatScientific(value, options = {}, tag = '', class = '', useNative = false) %}
  {% set formatted = nunjucksFilters.formatScientific(value, lang, options, useNative) %}
  {{ _renderTag(tag, class, formatted, {
    'data-format-scientific': value,
    'data-use-native': useNative
  }) }}
{% endmacro %}

{% macro formatBytes(bytes, decimals = 2, tag = '', class = '') %}
  {% set formatted = nunjucksFilters.formatBytes(bytes, decimals) %}
  {{ _renderTag(tag, class, formatted, {
    'data-format-bytes': bytes,
    'data-bytes-decimals': decimals
  }) }}
{% endmacro %}

{% macro formatDuration(seconds, tag = '', class = '') %}
  {% set formatted = nunjucksFilters.formatDuration(seconds, lang) %}
  {{ _renderTag(tag, class, formatted, {
    'data-format-duration': seconds
  }) }}
{% endmacro %}

{% macro formatDate(date, options = {}, tag = '', class = '') %}
  {% set formatted = nunjucksFilters.formatDate(date, lang, options) %}
  {{ _renderTag(tag, class, formatted, {
    'data-format-date': date
  }) }}
{% endmacro %}

{% macro formatTime(date, preset = 'short', tag = '', class = '') %}
  {% set formatted = nunjucksFilters.formatTime(date, lang, preset) %}
  {{ _renderTag(tag, class, formatted, {
    'data-format-time': date,
    'data-time-preset': preset
  }) }}
{% endmacro %}

{% macro formatDateTime(date, options = {}, tag = '', class = '') %}
  {% set formatted = nunjucksFilters.formatDateTime(date, lang, options) %}
  {{ _renderTag(tag, class, formatted, {
    'data-format-datetime': date
  }) }}
{% endmacro %}

{% macro formatDatePreset(date, preset = 'medium', tag = '', class = '') %}
  {% set formatted = nunjucksFilters.formatDatePreset(date, lang, preset) %}
  {{ _renderTag(tag, class, formatted, {
    'data-format-date-preset': date,
    'data-date-preset': preset
  }) }}
{% endmacro %}

{% macro formatOrdinal(value, tag = '', class = '') %}
  {% set formatted = nunjucksFilters.formatOrdinal(value, lang) %}
  {{ _renderTag(tag, class, formatted, {
    'data-format-ordinal': value
  }) }}
{% endmacro %}

{% macro formatCardinal(value, tag = '', class = '') %}
  {% set formatted = nunjucksFilters.formatCardinal(value, lang) %}
  {{ _renderTag(tag, class, formatted, {
    'data-format-cardinal': value
  }) }}
{% endmacro %}

{% macro formatAbbreviated(value, tag = '', class = '') %}
  {% set formatted = nunjucksFilters.formatAbbreviated(value, lang) %}
  {{ _renderTag(tag, class, formatted, {
    'data-format-abbreviated': value
  }) }}
{% endmacro %}

{% macro formatList(items, tag = '', class = '') %}
  {% set formatted = nunjucksFilters.formatList(items) %}
  {{ _renderTag(tag, class, formatted, {}) }}
{% endmacro %}

{% macro formatRelativeTime(value, unit, tag = '', class = '') %}
  {% set formatted = nunjucksFilters.formatRelativeTime(value, lang, unit) %}
  {{ _renderTag(tag, class, formatted, {}) }}
{% endmacro %}

{% macro pluralizeWord(word, count, inclusive = false, tag = '', class = '') %}
  {% set pluralized = nunjucksFilters.pluralize(word, count, inclusive) %}
  {{ _renderTag(tag, class, pluralized, {}) }}
{% endmacro %}

{% macro singularizeWord(word, tag = '', class = '') %}
  {% set singularized = nunjucksFilters.singularize(word) %}
  {{ _renderTag(tag, class, singularized, {}) }}
{% endmacro %}

{% macro formatLocalPrice(plan, targetCurrency = '', options = {}, tag = '', class = '', pricingKey = 'pricing') %}
  {% set formatted = nunjucksFilters.convertLocalPrice(plan, lang, targetCurrency, options) %}
  {% set pricingJson = ((plan[pricingKey] | dump) | replace('"', '&quot;')) | safe %}
  {% set attrs = {
    'data-local-price': plan.id,
    'data-pricing': pricingJson,
    'data-currency': targetCurrency or i18n.currency
  } %}
  {{ _renderTag(tag, class, formatted, attrs) }}
{% endmacro %}

{% macro formatLocalPriceDiscounted(plan, discountMultiplier = 0.8, targetCurrency = '', options = {}, tag = '', class = '', pricingKey = 'pricing') %}
  {% set formatted = nunjucksFilters.convertLocalPriceDiscounted(plan, lang, discountMultiplier, targetCurrency, options) %}
  {% set pricingJson = ((plan[pricingKey] | dump) | replace('"', '&quot;')) | safe %}
  {% set attrs = {
    'data-local-price': plan.id,
    'data-discount': discountMultiplier,
    'data-pricing': pricingJson,
    'data-currency': targetCurrency or i18n.currency
  } %}
  {{ _renderTag(tag, class, formatted, attrs) }}
{% endmacro %}
