{% extends "@layouts/main.njk" %}
{% import "@shared/ui/primitives/icons.njk" as icon %}

{% block content %}
{% set error_icon_name = 'key' %}
{% set error_icon_color = 'yellow' %}
{% set error_gradient_from = 'yellow' %}
{% set error_gradient_via = 'amber' %}
{% set error_i18n_ns = 'unauthorized' %}
{% set error_quick_links = '/|home,/contact|contact' %}
{% include "@shared/ui/patterns/error-page.njk" %}
{% endblock %}
