{% extends "public/main.njk" %}

{% set page_id = "home" %}

{% block content %}
  {% include "home/components/hero.njk" %}
  {% include "home/components/features.njk" %}
  {% include "home/components/stats.njk" %}
  {% include "home/components/cta.njk" %}
{% endblock %}