{% extends "main.njk" %}

{% block content %}
  {% include "home/partials/hero.njk" %}
  {% include "home/partials/features.njk" %}
  {% include "home/partials/stats.njk" %}
  {% include "shared/layout/cta.njk" %}
{% endblock %}