{% extends "base.njk" %}

{% block content %}
  {% include "index/components/hero.njk" %}
  {% include "index/components/features.njk" %}
  {% include "index/components/stats.njk" %}
  {% include "index/components/cta.njk" %}
{% endblock %}