{%
  macro render(image, alt, sizes, loading="lazy", class="", fetchpriority="", picture=false, lcp=false)
%}
  {% if image %}
    {% if picture %}
      <picture>
        <source type="image/avif" sizes="{{ sizes }}" srcset="{{ image.srcset }}" />
        <img
          alt="{{ alt }}" src="{{ image.src }}" sizes="{{ sizes }}"
          width="{{ image.width }}" height="{{ image.height }}" srcset="{{ image.srcset }}"
          loading="{{ loading }}" decoding="async" {% if lcp %}data-lcp="true"{% endif %}
          {% if class %}
            class="{{ class }}"
          {% endif %}
          {% if fetchpriority %}
            fetchpriority="{{ fetchpriority }}"
          {% endif %}
        />O
      </picture>
    {% else %}
      <img
        alt="{{ alt }}" src="{{ image.src }}" sizes="{{ sizes }}"
        width="{{ image.width }}" height="{{ image.height }}" srcset="{{ image.srcset }}"
        loading="{{ loading }}" decoding="async" {% if lcp %}data-lcp="true"{% endif %}
        {% if class %}
          class="{{ class }}"
        {% endif %}
        {% if fetchpriority %}
          fetchpriority="{{ fetchpriority }}"
        {% endif %}
      />
    {% endif %}
  {% endif %}
{% endmacro %}
