{% extends "main.njk" %}

{% block content %}
  {% include "home/_ui/hero.njk" %}
  {% include "home/_ui/camera.njk" %}
  {% include "home/_ui/features.njk" %}
  {% include "home/_ui/stats.njk" %}
  {% include "shared/ui/composites/cta.njk" %}
{% endblock %}