{% extends "main.njk" %}

{% block content %}
  {% include "home/_components/hero.njk" %}
  {% include "home/_components/features.njk" %}
  {% include "home/_components/stats.njk" %}
  {% include "shared/layout/cta.njk" %}
{% endblock %}