{% macro render(image, alt, sizes, loading="lazy", class="", fetchpriority="", picture=false, lcp=false) %}
{% if image %}
{% if picture %}
<picture>
  <source type="image/avif" srcset="{{ image.srcset }}" sizes="{{ sizes }}">
  <img width="{{ image.width }}" height="{{ image.height }}" src="{{ image.src }}" sizes="{{ sizes }}" alt="{{ alt }}" loading="{{ loading }}" decoding="async" {% if fetchpriority %}fetchpriority="{{ fetchpriority }}"{% endif %} {% if lcp %}data-lcp="true"{% endif %} {% if class %}class="{{ class }}"{% endif %}>
</picture>
{% else %}
<img width="{{ image.width }}" height="{{ image.height }}" src="{{ image.src }}" srcset="{{ image.srcset }}" sizes="{{ sizes }}" alt="{{ alt }}" loading="{{ loading }}" decoding="async" {% if fetchpriority %}fetchpriority="{{ fetchpriority }}"{% endif %} {% if lcp %}data-lcp="true"{% endif %} {% if class %}class="{{ class }}"{% endif %}>
{% endif %}
{% endif %}
{% endmacro %}
